# Ignore All
*

# Allow List
!.gitignore
!.zshrc

# Karabiner-elements
!.config/
.config/*
!.config/karabiner/
.config/karabiner/*
!.config/karabiner/karabiner.json
!.config/karabiner/assets/
.config/karabiner/assets/*
!.config/karabiner/assets/complex_modifications/
!.config/karabiner/assets/complex_modifications/*
.config/karabiner/assets/complex_modifications/.DS_Store

# VSCode
!Library/
Library/*
!Library/Application\ Support/
Library/Application\ Support/*
!Library/Application\ Support/Code/
Library/Application\ Support/Code/*
!Library/Application\ Support/Code/User/
Library/Application\ Support/Code/User/*
!Library/Application\ Support/Code/User/settings.json
